<div class="trip-card" data-trip-id="<%= id %>" data-trip-type="<%= type %>">
  <div class="trip-card-image" style="<%= if defined?(image) then 'background-image: url(' + image + ')' end %>"></div>
  <div class="trip-card-date"><%= date %></div>
  <div class="trip-card-title"><%= title %></div>
</div>