<div class="destination-feed" data-compact="<%= if defined?(compact) then compact end %>">

      <% last_iterated_date = nil %>

      <%# .group_by(&:capitalize) %>
      <%# TODO group, calculate suggestions (method of trip?), %>
      <%# calculate nachhaltigkeitsideen, marker restaurant bissl verschieben, %>
      <%# klick auf item hebt marker auf karte hervor und zeigt submenü mit actions %>
      <%# klick auf item aktualisiert iframe im background %>
      <%# klick auf marker hebt item auf liste hervor %>
      <%# pop animation car into collapsed list %>
      <%# query param for location on main page %>
      <%# wertter info mit alternativangeboten %>
      <%# besuchszeiten %>

      <% current_guest.trips.first.destinations.order(date: :asc).each do |destination| %>
          <% if last_iterated_date.blank? || last_iterated_date != destination.start_date.to_date.to_s %>

              <%# TODO check which suggestions will fit %>


              <% unless last_iterated_date.blank? %>
                  </div>
                </div>
              <% end %>
              <% last_iterated_date = destination.start_date.to_date.to_s %>
              <div class="destination-day">
                <div class="destination-date">
                  <div class="destination-week-day"><%= destination.week_day %> 01.08</div>
                  <%= render 'trip_destinations/weather', :@destination => destination %>
                </div>
                <div class="destinations">
          <% end %>
          <%= render 'trip_destinations/card',
                     id: destination.id,
                     type: destination.geo_location.type,
                     time: "#{destination.start_date.strftime("%H:%M")} - #{destination.end_date.strftime("%H:%M")}",
                     title: destination.geo_location.name,
                     image: destination.geo_location.image,
                     details: destination.geo_location.categories.limit(2).map {|category| category.name}.join(","),
                     address: destination.geo_location.address,
                     actions: [] # TODO
          %>
      <% end %>
    </div>
  </div>



  <div class="destination-day">
    <div class="destinations">

      <%= render 'trip_destinations/card',
                 id: 1,
                 type: 'hotel',
                 time: 'Check-In 12:00',
                 title: 'Hotel Seeblick',
                 image: 'https://media.tourdata.at/exp/sommer/responsiveTeaserBoxImg/orteinformation/430000877.png',
                 details: 'Unterkunft, Halbpension',
                 address: 'Bergstraße 62, 2131 Linzdorf',
                 actions: []
      %>
      <%= render 'trip_destinations/card',
                 id: 2,
                 type: 'food',
                 time: '16:00 - 18:00',
                 title: 'Zum goldenen Adler',
                 details: 'Gaststätte, Rustikal',
                 address: 'Zur Talsperre 4, 2131 Linzdorf',
                 actions: [{
                               title: 'Reservierung notwendig',
                               link: 'https://www.oberoesterreich.at/tourdata-listen/gastronomie/alle-gastronomiebetriebe/oesterreich-gastronomie/detail/160077/cuisino-das-casino-restaurant.html'
                           }]
      %>
      <%= render 'trip_destinations/suggestion_card',
                 title: 'Freizeit und Aktivitäten',
                 details: 'Sie haben noch keine Aktivitäten geplant',
                 type: 'activity'
      %>
    </div>
  </div>
  <div class="destination-day">
    <div class="destination-date">Dienstag 02.08</div>
    <div class="destinations">
      <%= render 'trip_destinations/card',
                 id: 45,
                 type: 'activity',
                 time: '09:00 - 16:00',
                 title: 'Waldsteig zum Steinberg',
                 details: 'Aktivität, Wandern',
                 address: 'Zur Talsperre 4, 2131 Linzdorf',
                 actions: []
      %>
      <%= render 'trip_destinations/suggestion_card',
                 title: 'Restaurant oder Gaststätte',
                 details: 'Sie haben noch kein Mittagessen geplant',
                 type: 'food'
      %>
    </div>
  </div>
</div>