<div class="destination-feed" data-compact="<%= if defined?(compact) then compact end %>">

      <% last_iterated_date = nil %>

      <%# .group_by(&:capitalize) %>
      <%# TODO group, calculate suggestions (method of trip?), %>
      <%# calculate nachhaltigkeitsideen, marker restaurant bissl verschieben, %>
      <%# klick auf item hebt marker auf karte hervor und zeigt submenü mit actions %>
      <%# klick auf item aktualisiert iframe im background %>
      <%# klick auf marker hebt item auf liste hervor %>
      <%# pop animation car into collapsed list %>
      <%# query param for location on main page %>
      <%# alternativangebote bei schlechtem wetter %>
      <%# besuchszeiten %>

      <%# TODO iterate over trip.start_date..trip.end_date and chck if hotel is on that day, then show again %>

      <% trip = current_guest.trips.first %>

      <% (trip.start_date.to_date..trip.end_date.to_date).each do |date| %>
        <div class="destination-day">
          <div class="destination-date">
            <div class="destination-week-day"><%= date.strftime('%A') %> <%= date.strftime("%d.%m") %></div>
            <%# TODO first destinations weather  %>
            <% destinations = trip.destinations_of_date(date).sort_by{|destination| destination.start_date} %>
            <%# TODO empty state if nothing planned %>
            <%= render 'trip_destinations/weather', :@destination => destinations.first unless destinations.blank? %>
          </div>
          <div class="destinations">
            <% destinations.each do |destination| %>
                <%= render 'trip_destinations/card',
                           id: destination.id,
                           type: destination.geo_location.type,
                           time: "#{destination.start_date.strftime("%H:%M")} - #{destination.end_date.strftime("%H:%M")}",
                           title: destination.geo_location.name,
                           image: destination.geo_location.image,
                           details: destination.geo_location.categories.limit(2).map {|category| category.name}.join(", "),
                           address: destination.geo_location.address,
                           actions: [] # TODO
                %>
            <% end %>
            <% trip.suggestions_of_date(date).each do |suggestion| %>
              <%= render 'trip_destinations/suggestion_card',
                         title: suggestion[:title],
                         details: suggestion[:details],
                         type: suggestion[:type],
                         link: suggestion[:link]
              %>
            <% end %>
          </div>
        </div>
      <% end %>
</div>