<div class="profile-category">
  <div class="category-title">Deine Eigenschaften und Vorlieben</div>
  <div class="profile-wrapper">
    <div class="basic-info-box">
      <div class="profile-avatar"></div>
      <div class="profile-name">Jon Traveller</div>
    </div>
    <div class="profile-preferences">
      <div class="profile-preference" data-preference-type="family" data-preference-value="with_partner">
        <div class="preference-label">Begleitung</div>
        Verreist häufig mit dem/r PartnerIn
      </div>
      <div class="profile-preference" data-preference-type="language" data-preference-value="german, english, czech">
        <div class="preference-label">Sprachen</div>
        Spricht Deutsch, Englisch, Tschechisch
      </div>
      <div class="profile-preference" data-preference-type="activity_grade" data-preference-value="high">
        <div class="preference-label">Aktivitätslevel</div>
        Hohes Aktivitätslevel, mag Erlebnisreisen
      </div>
      <div class="profile-preference" data-preference-type="activities" data-preference-value="cycling, walking, climbing">
        <div class="preference-label">Aktivitäten</div>
        Mag Radfahren, Wandern, Klettern
      </div>
      <div class="profile-preference" data-preference-type="activities" data-preference-value="cycling, walking, climbing">
        <div class="preference-label">Essen und Trinken - Verträglichkeiten</div>
        Isst vegetarisch, glutenfrei
      </div>
      <div class="profile-preference" data-preference-type="activities" data-preference-value="cycling, walking, climbing">
        <div class="preference-label">Essen und Trinken - Geschmack</div>
        Mag deftig, scharf, italienisch, asiatisch
      </div>
      <div class="profile-preference" data-preference-type="add">
        Weitere Eigenschaft hinzufügen
      </div>
    </div>
  </div>
  <!--
  <div>
    TODO profil mit allen reiserelevanten preferences, z.b. rollifahrer, familie ja nein...
    zeige liste von bereits gesetzten preferences
    und darunter "weitere Eigenschaft hinzufügen"
    -> klick darauf zeigt auswahlliste aller möglichen profileigenschaften
    man kann eigenschaften jederzeit editieren oder löschen

    angabe wo man schon mal war
    alle bisherigen ober österreich reisen

    darunter noch die letzten chats darstellen wie bei vodafone

    TODO startseite der app mit 3 cards zu assistent, meine reise und reiseprofil
  </div>
  -->
</div>

<div class="profile-category">
  <div class="category-title">Wo du schon warst</div>
  <div class="category-subtitle">Deine Reisen in Oberösterreich</div>
  <div class="last-trips">
    <%= render 'trips/card',
               id: 1,
               type: 'trip',
               date: '20. - 24. Juli',
               image: 'https://media.tourdata.at/exp/sommer/responsiveTeaserBoxImg/orteinformation/430000877.png',
               title: 'Linz'
    %>
    <%= render 'trips/card',
               id: 1,
               type: 'trip',
               date: '12. - 24. August',
               image: 'https://media.tourdata.at/exp/sommer/rebrushTeaserBoxImg/orteinformation/430000883.png',
               title: 'Braunau am Inn'
    %>
    <%= render 'trips/card',
               id: 'NEW',
               type: 'new',
               date: '',
               title: 'Eine neue Reise planen'
    %>
  </div>
  <div class="category-subtitle">Deine Reisen auf der Welt</div>
  <div class="last-trips">
    <%= render 'trips/card',
               id: 1,
               type: 'custom_trip',
               date: '01. - 05. Juni',
               title: 'Barcelona'
    %>
    <%= render 'trips/card',
               id: 'ADD_CUSTOM',
               type: 'add_custom',
               date: '',
               title: 'Deine Reise hinzufügen'
    %>
  </div>
</div>

<style>
  .content {
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 18px 64px;
  }

  @media(max-width: 768px) {
    .content {
      padding: 18px 42px;
    }
  }
</style>