<div class="destination-card" data-destination-id="<%= id %>" data-destination-type="<%= type %>" title="<%= title %>, <%= time %>, <%= address %>">
  <div class="destination-image" style="<%= if defined?(image) then 'background-image: url(' + image + ')' end %>"></div>
  <div class="destination-info">
    <div class="destination-time"><%= time %></div>
    <div class="destination-title"><%= title %></div>
    <div class="destination-details"><%= details %></div>
    <div class="destination-address"><%= address %></div>
    <%= render 'trip_destinations/card_actions', actions: actions %>
  </div>
</div>