<div class="header">
  <div class="header-bar">
    <div class="header-logo"></div>
  </div>
  <div class="header-nav">
    <div class="header-nav-items">
      <a class="header-nav-item" href="<%= service_requests_path %>" data-active="<%= 'true' if controller_name == 'service_requests' %>">Störung melden</a>
      <a class="header-nav-item" href="<%= tickets_path %>" data-active="<%= 'true' if controller_name == 'tickets' %>">Mein Störungsverlauf</a>
      <div class="header-nav-item" data-active="<%= 'true' if controller_name == 'customers' %>">Mein Unternehmen</div>

    </div>
  </div>
</div>